
    <%= form_for(@office) do |f| %>
      <% if @office.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

          <ul>
          <% @office.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="well panel-border">
      <div class="panel-header-gray">
        <h3> About your work space</h3>
        <p> Tell potential colleagues why they would want to work in your space.</p>
        <p>Highlight what makes it productive and convenient.</p>
      </div>
      <fieldset class="padtop">

          <div class="control-group">
            <label class="control-label">Title(Required) </label>
            <div class="controls"> <%= f.text_field :title %> </div>
          </div>

          <div class="control-group">
            <label class="control-label"> <%= f.label :size %> </label>
            <div class="controls"> <%= f.text_field :size %> sq. ft. </div>
          </div>
          


          
          <div class="control-group">
            <label class="control-label"> <%= f.label :description %> </label>
            <div class="controls"> <%= f.text_area :description %> </div>
          </div>



          <div class="control-group">
            <label class="control-label">Upload a photo</label>
            <div class="controls"> <%= f.file_field :image1 %> </div>
          </div>

          <div class="control-group">
            <label class="control-label">Options </label>
            <div class="controls">
              <div class="row">
                <div class="span6">
                  <%= f.check_box :insurance %>
                  <label class="control-label">Liability insurance?  </label>
                </div>
                <div class="span6">
                  <%= f.check_box :swap %>
                  <label class="control-label">Swap places?  </label>
                </div>
              </div>
            </div>
          </div>

          <!--div class="field">
            <%= f.label :image2 %><br />
            <%= f.text_field :image2 %>
          </div>
          <div class="field">
            <%= f.label :image3 %><br />
            <%= f.text_field :image3 %>
          </div>
          <div class="field">
            <%= f.label :image4 %><br />
            <%= f.text_field :image4 %>
          </div-->

        <div class="control-group">
          <label class="control-label"> Rent </label>
          <div class="controls"> <%= f.text_field :rent %> </div>
        </div>

      </fieldset> 

      <div class="panel-header-gray">
        <h3> About You</h3>
        <p> Tradewinz creates trusted, reliable business connections.
          Help other people get to know you.
        </p>
      </div>
      
      <fieldset class="padtop">
        <div class="control-group">
          <label class="control-label">Company Name </label>
          <div class="controls"> <%= f.text_field :contact_name %> </div>
        </div>

        <div class="control-group">
          <label class="control-label">Company Details </label>
          <div class="controls"> <%= f.text_area :company_desc %> </div>
        </div>

        <div class="control-group">
          <label class="control-label">Company Website </label>
          <div class="controls"> <%= f.text_field :company_url %> </div>
        </div>

        <div class="control-group">
          <label class="control-label">Years in business </label>
          <div class="controls"> <%= f.number_field :years %></div>
        </div>
       </fieldset>
        


        <div class="panel-header-gray">
          <h3> Shown only to confirmed tenants</h3>
          <p> To protect your privacy, we hide your address, phone number, and contact information from people that have not confirmed a reservation with you
          </p>
        </div>

        <fieldset class="padtop">
            <div class="control-group">
              <label class="control-label">Email address </label>
              <div class="controls"> <%= f.text_field :contact_email %> </div>
            </div>

            <div class="control-group">
              <label class="control-label">Phone Number </label>
              <div class="controls"> <%= f.text_field :contact_phone %> </div>
            </div>
      </fieldset>

      <div class="panel-header-gray">
        <div class="row">
            <div class="span12 jumbotron">
                <%= f.submit "Add Your Listing", :class => "btn btn-large btn-success" %>
            </div>
          </div>
      </div>
        
  <% end %>


</div>