<h2>All Listings</h2>

<div id="offices" class="span12">

<% @offices.each do |office| %>

  <div class="row search_result">

    <div class="span2">
        <a href= "#">       
            <%= image_tag office.image1_url(:small).to_s, :class=> "img-polaroid", :size=> "114x74", :alt=> "Photo" %>
        </a>
    </div>

    <div class="span1">
        <%= image_tag office.contact_picture_url(:thumb).to_s, :class=> "img-rounded", :size=>"36x36", alt: "Picture" %>
    </div>

    <div class="span7"> 
        <%= link_to office.title, office %>        
    </div>
    
    <div class="span2"> 
        $ <%= office.rent %> 
    </div>
    
  </div>

<% end %>
<br>
</div>

<div class="btn btn-medium">
    <%= link_to 'List your place', new_office_path %>
</div>
