<h2>All Listings</h2>

<hr>

<table>
  <tr>
    <th>Title |</th>    
    <th>Rent |</th>
    <th>Availability |</th>
    <th>Contact name |</th>
    <th>Contact picture |</th>
    <th>Contact email |</th>
    <th>Contact phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= office.title %></td>
    <td><%= office.rent %></td>
    
    <td><%= office.availability %></td>
    
    <td><%= office.contact_name %></td>
    <td><%= office.contact_picture %></td>
    
    <td><%= office.contact_email %></td>
    <td><%= office.contact_phone %></td>
    
    <td><%= link_to 'View', office %></td>
    <td><%= link_to 'Edit', edit_office_path(office) %></td>
    <td><%= link_to 'Delete', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<hr>
<div class="btn btn-medium">
    <%= link_to 'New Listing', new_office_path %>
</div>
