
<p id="notice"><%= notice %></p>

<p>
  <b>Rent:</b>
  <%= @office.rent %>
</p>

<p>
  <b>Size:</b>
  <%= @office.size %>
</p>

<p>
  <b>Title:</b>
  <%= @office.title %>
</p>

<p>
  <b>Description:</b>
  <%= @office.description %>
</p>

<p>
  <b>Availability:</b>
  <%= @office.availability %>
</p>


<p>
  <b>Room Photo:</b>
  <%= image_tag @office.image1_url.to_s, alt: "Photo" %>
</p>

<p>
  <b>Insurance:</b>
  <%= @office.insurance %>
</p>

<p>
  <b>Swap:</b>
  <%= @office.swap %>
</p>

<p>
  <b>Contact picture:</b>
  <%= image_tag @office.contact_picture_url(:medium).to_s, alt: "Picture" %>
</p>

<p>
  <b>Company name:</b>
  <%= @office.contact_name %>
</p>

<p>
  <b>Company desc:</b>
  <%= @office.company_desc %>
</p>

<p>
  <b>Company website:</b>
  <%= @office.company_url %>
</p>

<p>
  <b>Years in business:</b>
  <%= @office.years %>
</p>

<br>

<h4>If you are interested in this listing, please contact the 
   <a href="mailto:tradewinz@intuit.com?subject=Interested in renting" class="btn-link">Tradewinz team</a>
</h4>


<br>
<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
<br>
<hr> 

<%= link_to "View all listings", offices_path, class: "btn btn-medium" %>